{% if query %}
    <div>
        <div>
        <!-- check if there is a result in the database-->
        {% if products %}
            <!-- loop through search query if there is a result -->
            {% for product in products %}
                <div>
                    <!-- return search query -->
                    <p>{{product.name}}</p>
                </div>
            {% endfor %}
            <!-- return a message if there are no results found. -->
        {% else %}
            <h3>No search results found</h3>
        {% endif %}
        </div>
    </div>
{% else %}
    <h1>Please enter a search query</h1>
{% endif %}